<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.gench.javaee.fengjingxuan2220680.mapper.AirportMapper">
    <select id="getAllAirports" resultType="cn.edu.gench.javaee.fengjingxuan2220680.pojo.Airport">
        SELECT airport_code AS airportCode, airport_name AS airportName, city FROM airports;
    </select>
</mapper>
